nav {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-links li {
    margin: 0 0.5rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #ffd800;
  }
  